body{
  margin: 0;
}

.nav{
  background-color: pink;
}

.grid{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.side {
  background-color: #f1f1f1;
}

.content{
  background-color: lightblue;
  height: 2000px;
}
